* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-size: 0.875rem;
    /* height: 100vh; */
}

@font-face {
    /* font-family: brands; */
    /* src: url(../fonts/fa-brands-400.ttf); */
}

.hdr{
    display: block;
    background-color:#292929;
    opacity:1;
    align-items: center;
    /* height: 16vh; not*/
    /* box-shadow: inset 0 -6px 0 #1e1e1e; */
    max-width:100%;
    justify-content: space-between;
}
/* .main-container {
    max-width: 980px;
    margin: 0 auto;
    justify-content: space-between;
} */
html {
    /* font-family: play, serif; */
    color: #626262;
    /* line-height: 1.714;  */
}





.sub-nav{
    font-size:1rem;
    font-family: Lato-Bold,MyriadPro-Regular,AdobeInvisFont;
    /* Montserrat-Regular,AdobeInvisFont,MyriadHebrew-Regular */
    /* height: 100%; */
    height: 66px;
    width: 110px;
    color:white;
    text-decoration-line: none;
    border-right: 1px solid #000;
}
.nav-btn{
    margin: 0;
    box-sizing: border-box;
    flex-grow: 1;
    /* background-color: #292929; */
    color:white;
}

.logo{
    height: 4.3rem;
    width: 10.5rem;
}
.logo-img{
    width:100%;
    /* object-fit: cover; */
}

.sub-nav-press.sub-nav{ 
    border-bottom: 4px solid #af5912;
    box-shadow: -1px 0 0 #1d1d1d, inset 0 -6px 0  #af5912;
    /* color: rgb(75, 138, 75); */
}

.main-nav{
    /* flex-basis: 52%; */
    height: 100%;
}

li:hover{
    background-color: rgba(0, 0, 0, 90%);
    box-shadow: -1px 0 0 #1d1d1d, inset 0 -6px 0 #af5912;
    transition: background-color .3s;
}

.gallery-container{
    display: none;
    padding: 10px;
    flex-wrap: wrap;
    width: 100%;
    justify-content:center;
    background-color: #af5912;

}

.memes-container{
    display: none;
}

.editor-container{
    display: none;
}

.one-img{
    /* flex-basis: 10%; */
    margin: 5px;
    max-width:200px;
    max-height:200px;
}

.download{
background-image: url('icons/download.png');
}



.wrap{
    flex-wrap: wrap;
}
    
.flex {
    display: flex;
}
    
.flex-col{
    flex-direction:column;
}
    
.flex.center{
    align-items: center;
    justify-content:center;
}
    
.flex.start-row{
    align-self: flex-start;
}
    
.flex.end-row{
    align-self: flex-end;
}
    
.capital
{
    text-transform: capitalize;
}
    
.clean-list {
    margin: 0;
    padding: 0;
    list-style-type: none;
}
    
.menu-btn{
    display:none;
    /* height: 40px;
    width: 40px; */
    font-size: 2em;
}
   


canvas{
    margin: 10px auto 10px 20px;
    background-color: rgb(206, 133, 65);
    order:1;
}

.canvas-container{
    /* display: inline-block; */
    /* background-color: rgb(87, 121, 133); */
    background-color: rgb(252, 251, 250);
    /* margin: 70px auto auto 0; */
    /* width: 100vw; */
    height: 70vh;
    width: 450px;
    /* border: 1px solid #161414; */
}


.btn{
    cursor: pointer;
    height: 30px;
    width: 50px;
    background-color: #da7b2d;
    border-radius: 15%;
    line-height: 30px;
    outline: none;

}

.action-img{
    height: 90%;
    width: 80%;
    /* height: 30px;
    width: 50px; */
}

footer{
    background-color:#292929;
    justify-content: space-around;
}