* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-size: 0.875rem;
    display: flex;
    flex-direction: column;
    height: 100vh;
    /* width:100vw; */
}

/* @font-face { */
    /* font-family: brands; */
    /* src: url(../fonts/fa-brands-400.ttf); */
/* } */

.hdr{
    display: block;
    background-color:#292929;
    opacity:1;
    align-items: center;
    /* height: 16vh; not*/
    /* box-shadow: inset 0 -6px 0 #1e1e1e; */
    max-width:100%;
    justify-content: space-between;
}

.sub-nav{
    font-size:1rem;
    font-family: Lato-Bold,MyriadPro-Regular,AdobeInvisFont;
    /* Montserrat-Regular,AdobeInvisFont,MyriadHebrew-Regular */
    /* height: 100%; */
    height: 66px;
    width: 110px;
    color:white;
    text-decoration-line: none;
    border-right: 1px solid #000;
}
.nav-btn{
    margin: 0;
    box-sizing: border-box;
    flex-grow: 1;
    /* background-color: #292929; */
    color:white;
}

.logo{
    height: 4rem;
    width: 10.5rem;
}
.logo-img{
    width:100%;
    /* object-fit: cover; */
}

.sub-nav-press.sub-nav{ 
    box-shadow: -1px 0 0 #1d1d1d, inset 0 -6px 0  #af5912;
}

.main-nav{
    /* flex-basis: 52%; */
    height: 100%;
}

li:hover{
    background-color: rgba(0, 0, 0, 90%);
    box-shadow: -1px 0 0 #1d1d1d, inset 0 -6px 0 #af5912;
    transition: background-color .3s;
}

.menu-btn{
    display:none;
    height: 35px;
    width: 35px;
    font-size: 1.1em;
    align-items: center;
    background-color: rgb(245, 135, 9);
    border-radius: 5px;
    outline: none;
    cursor: pointer;
    position:absolute;
    right: 37px;
    text-align: center;
    justify-content: center;
    z-index:1000;
}




.main-container {
    max-width: 980px;
    margin: 0 auto;
}


.download{   
    display: inline-block;
}




.gallery-container, .memes-container{
    display: none;
    padding: 10px;
    flex-wrap: wrap;
    width: 100%;
    justify-content:center;
    background-color: #ad6b36;
}

.editor-container{
    display: none;
}

.one-img, .one-meme{
    /* flex-basis: 10%; */
    margin: 5px;
    max-width:200px;
    max-height:200px;
}
  

   
canvas{
    margin: 10px auto 10px 20px;
    background-color: rgb(206, 133, 65);
    order:1;
}

.canvas-container{
    background-color: rgb(252, 251, 250);
    height: 70vh;
    width: 450px;
}

.memes-container *>{
    margin: 10px auto 10px 20px;
    background-color: rgb(206, 133, 65);
    order:1;
}

footer{
    background-color:#292929;
    justify-content: space-around;
    color:rgb(247, 238, 238);
}




.action-img{
    height: 70%;
    width: 60%;
}
.increase-move-icon{
    font-size:25px;
}

.increase-icon{
    font-size:30px;
}

.add-line{
    height: 70%;
    width: 60%;
}

/* .download-img{
    height: 20px;
    width: 20px;
    font-size:10px;
    line-height: 20px;
} */

.btn{
    cursor: pointer;
    height: 30px;
    width: 50px;
    background-color: #da7b2d;
    border-radius: 15%;
    line-height: 30px;
    outline: none;

}


.wrap{
    flex-wrap: wrap;
}
    
.flex {
    display: flex;
}
    
.flex-col{
    flex-direction:column;
}
    
.flex.center{
    align-items: center;
    justify-content:center;
}
    
.flex.start-row{
    align-self: flex-start;
}
    
.flex.end-row{
    align-self: flex-end;
}
    
.capital
{
    text-transform: capitalize;
}
    
.clean-list {
    margin: 0;
    padding: 0;
    list-style-type: none;
}



@media (max-width: 740px){

    .menu-btn{
        display: flex;

    }

    main.menu-open{
        background-color: rgb(206, 134, 75);
        opacity:0.5
    }

    /* .main-nav{
        display: none!important;
    } */

    .menu-btn.menu-open{
        height: 20px;
        width: 20px;
    }
    .main-nav.menu-open{
        /* display: flex!important; */
        flex-direction: column;
        position: absolute;
        top:2vh;
        right: 6%;
        z-index:999;
        height: 60%;
        background-color:rgba(0, 0, 0, 90%);
    }

    .sub-nav{
    height: 100%;
    }




}